<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vihu.ganlu.mappers.UserMapper">
    <resultMap type="com.vihu.ganlu.entitys.UserEntity" id="usermap">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="imageUrl" property="imageUrl"/>
        <result column="teamname" property="teamname"/>
        <result column="helplocation" property="helplocation"/>
        <result column="helpschool" property="helpschool"/>
        <result column="realname" property="realname"/>
        <result column="belongschool" property="belongschool"/>
        <result column="grade" property="grade"/>
        <result column="phone" property="phone"/>
        <result column="level" property="level"/>
    </resultMap>


    <select id="findAllUser" resultMap="usermap">
        select *
        from user
	</select>

    <select id="findUserById" parameterType="Integer" resultMap="usermap">
        select * from user where id=#{id}
    </select>

    <select id="findUserByLevel" parameterType="Integer" resultMap="usermap">
        select * from user where level=#{level}
    </select>

    <select id="findUserBigLevel" parameterType="Integer" resultMap="usermap">
        select * from user where level>#{level}
    </select>

    <select id="findUserByUsername" resultMap="usermap">
        select * from user where username=#{username} limit 1
    </select>

    <select id="countByUsername" resultType="int">
        select count(1) from user where username=#{username}
    </select>

    <select id="countByPhone" resultType="int">
        select count(1) from user where phone=#{phone}
    </select>

    <update id="updatePasswordById">
        update user set password=#{password} where id=#{id}
    </update>

    <select id="findCountUserByPage" parameterType="com.vihu.ganlu.entitys.UserQueryVo" resultType="Integer">
        select count(1) from user
        <where>
            <if test="grade != null">
                grade = #{grade}
            </if>
            <if test="username != null">
                and username like "%"#{username}"%"
            </if>
            <if test="level != null">
                and level = #{level}
            </if>
        </where>
    </select>

    <select id="findUserByPage" parameterType="com.vihu.ganlu.entitys.UserQueryVo" resultType="com.vihu.ganlu.entitys.UserEntity">
        select * from user
        <where>
            <if test="grade != null">
                grade = #{grade}
            </if>
            <if test="username != null">
                and username like "%"#{username}"%"
            </if>
            <if test="level != null">
                and level = #{level}
            </if>
        </where>
        limit #{startRow},#{rows}
    </select>

    <insert id="addUser" parameterType="com.vihu.ganlu.entitys.UserEntity" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,password,imageUrl,teamname,helplocation,helpschool,realname,belongschool,grade,phone,level)
        values (#{username},#{password},#{imageUrl},#{teamname},#{helplocation},#{helpschool},#{realname},#{belongschool},#{grade},#{phone},#{level})
    </insert>

    <update id="updateUserById" parameterType="com.vihu.ganlu.entitys.UserEntity" >
        update user
        set username=#{username},
        <if test="password != null">
            password=#{password},
        </if>
        <if test="imageUrl != null">
            imageUrl=#{imageUrl},
        </if>
        <if test="realname != null">
            realname=#{realname},
        </if>
        <if test="belongschool != null">
            belongschool=#{belongschool},
        </if>
        <if test="grade != null">
            grade=#{grade},
        </if>
        <if test="teamname != null">
            teamname=#{teamname},
        </if>
        <if test="level != null">
            level=#{level},
        </if>
            helplocation=#{helplocation},helpschool=#{helpschool},
            phone=#{phone}
        where id=#{id}
    </update>

    <delete id="deleteUserByIds" parameterType="com.vihu.ganlu.entitys.UserQueryVo">
        delete from user
        <where>
            id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </delete>

</mapper>
