
file.upload-dir=${user.dir}\\uploads
file.chunk-dir=${file.upload-dir}/temp_chunks
file.materials-dir=${file.upload-dir}/materials
file.images-dir=${file.upload-dir}/images


spring.datasource.url=${GANLU_DB_URL}
spring.datasource.username=${GANLU_DB_USERNAME}
spring.datasource.password=${GANLU_DB_PASSWORD}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# Development-only signing key. Production must provide GANLU_JWT_SECRET.
security.jwt.secret=${GANLU_JWT_SECRET}