
file.upload-dir=${UPLOAD_DIR:/usr/share/ganlu/uploads}
file.chunk-dir=${file.upload-dir}/temp_chunks
file.materials-dir=${file.upload-dir}/materials
file.images-dir=${file.upload-dir}/images

spring.datasource.url=${GANLU_DB_URL}
spring.datasource.username=${GANLU_DB_USERNAME}
spring.datasource.password=${GANLU_DB_PASSWORD}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

server.port=-1

spring.servlet.multipart.max-request-size=200MB
spring.servlet.multipart.max-file-size=200MB
# \u5185\u5B58\u7F13\u51B2\u5927\u5C0F\uFF08\u8D85\u8FC7\u540E\u4F1A\u5199\u5165\u4E34\u65F6\u6587\u4EF6\uFF09
spring.servlet.multipart.file-size-threshold=10MB

app.base-url=${GANLU_APP_BASE_URL}

# Do not start production with a built-in/default signing key.
security.jwt.secret=${GANLU_JWT_SECRET}
