
spring.profiles.active=dev

spring.application.name=ganlu
spring.datasource.url=${GANLU_DB_URL}
spring.datasource.username=${GANLU_DB_USERNAME}
spring.datasource.password=${GANLU_DB_PASSWORD}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
mybatis.mapper-locations=mapper/*.xml


spring.thymeleaf.enabled=false
spring.thymeleaf.cache=false
spring.freemarker.enabled=true
spring.freemarker.cache=false
spring.freemarker.suffix=.ftl
spring.freemarker.template-loader-path=/WEB-INF/jsp/
spring.freemarker.request-context-attribute=request

spring.web.resources.static-locations=/WEB-INF/

# 大文件上传配置（团队风采视频/附件，最大 200MB）
spring.servlet.multipart.max-file-size=200MB
spring.servlet.multipart.max-request-size=210MB
spring.servlet.multipart.file-size-threshold=10MB
spring.servlet.multipart.location=${java.io.tmpdir}/ganlu-uploads

security.jwt.expiration-seconds=28800
